run = "npm run start"
modules = ["nodejs-20", "bun"]

[env]
PORT = "5000"
NODE_ENV = "development"

[deployment]
run = "node deploy.js"
build = "npm run build"
deploymentTarget = "autoscale"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80
